{% extends 'base.html' %}

{% block title %}Carrito{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">Tu Carrito</h2>
  {% if cart_item %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio (USD)</th>
            <th>Total (USD)</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart_item %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.total_item|floatformat:2 }}</td>
            <td>
              <a href="{% url 'cart:update_cart_item' item.id %}" class="btn btn-sm btn-warning py-1 mt-1 mb-1 delete-btn">Editar</a>
              <a href="{% url 'cart:delete_cart_item' item.id %}" class="btn btn-sm btn-warning py-1 mt-1 mb-1 delete-btn">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-end align-items-center mt-4">
      <h4>Total: {{ cart_total|floatformat:2 }} USD</h4>
    </div>
    <div class="mt-4">
      <h4>Selecciona una dirección para el envío:</h4>
      <form action="{% url 'orders:checkout' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="address">Dirección de envío</label>
          <select id="address" name="address" class="form-control">
            {% for address in addresses %}
              <option value="{{ address.id }}">
                {{ address }}
              </option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Proceder al Pago</button>
      </form>
    </div>
    <div class="mt-3">
      <a href="{% url 'catalog:category_list' %}" class="btn btn-secondary">Seguir Comprando</a>
    </div>
  {% else %}
      <p>No hay productos en tu carrito.</p>
      <a href="{% url 'catalog:category_list' %}" class="btn btn-primary">Explorar Productos</a>
  {% endif %}
</div>
{% endblock %}
