{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-lg-12">
            <div class="card shadow-sm p-4">
                <h2 class="card-title text-center mb-4">Sobre Nosotros</h2>
                <p class="lead">Bienvenido a Shifa Products. En nuestra empresa, nos dedicamos a ofrecer productos naturistas.</p>
                <p>Fundada en 2023. A lo largo de los años, hemos trabajado incansablemente para proporcionar a nuestros clientes la mejor experiencia posible, combinando calidad y sabor en nuestros productos.</p>
                <p>Nuestro equipo está compuesto por profesionales altamente cualificados en medicina, comprometidos con la excelencia y la innovación.</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mb-4">Nuestro Equipo</h3>
            <ul class="list-unstyled">
                <!-- Miembro del equipo 1 -->
                <li class="mb-4">
                    <div class="card shadow-sm p-3">
                        <h5 class="card-title">Nombre del Miembro 1</h5>
                        <p class="card-text">Posición del Miembro 1 - Breve descripción sobre la experiencia y contribuciones del miembro del equipo.</p>
                    </div>
                </li>
                <!-- Miembro del equipo 2 -->
                <li class="mb-4">
                    <div class="card shadow-sm p-3">
                        <h5 class="card-title">Nombre del Miembro 2</h5>
                        <p class="card-text">Posición del Miembro 2 - Breve descripción sobre la experiencia y contribuciones del miembro del equipo.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
