{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow-sm p-4">
        <h2 class="card-title text-center mb-4">Contraseña restablecida</h2>
        <p class="text-center mb-4">Tu contraseña ha sido restablecida con éxito.</p>
        
        <div class="text-center mt-3">
          <a href="{% url 'login' %}" class="btn btn-primary w-100">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
