{% extends 'base.html' %}

{% block title %}Detalles de la Orden{% endblock %}

{% block content %}
<div class="container my-5">
  <h2>Detalles de la Orden #{{ order.id }}</h2>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <h4>Información del Cliente</h4>
      <p><strong>Nombre de usuario:</strong> {{ order.user.username }}</p>
      <p><strong>Nombre:</strong> {{ order.user.first_name }} {{ order.user.last_name }} </p>
      <p><strong>Email:</strong> {{ order.user.email }}</p>
    </div>
    <div class="col-md-6">
      <h4>Estado de la Orden</h4>
      <p><strong>Estado:</strong>
        <span class="badge 
          {% if order.status == 'PENDING' %}bg-warning
          {% elif order.status == 'PROCESSING' %}bg-primary
          {% elif order.status == 'SHIPPED' %}bg-info
          {% elif order.status == 'DELIVERED' %}bg-success
          {% elif order.status == 'CANCELLED' %}bg-danger
          {% endif %}">
          {{ order.get_status_display }}
        </span>
      <p><strong>Fecha:</strong> {{ order.created_at }}</p>
    </div>
  </div>

  <div class="mt-4">
    <h4>Artículos en la Orden</h4>
    {% if order_items %}
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario (USD)</th>
            <th>Total (USD)</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order_items %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price|floatformat:2 }}</td>
            <td>{{ item.total_item|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex justify-content-end">
        <h4>Total: {{ order_total|floatformat:2 }} USD</h4>
      </div>
    {% endif %}
  </div>

  <div class="mt-4">
    <h4>Dirección de entrega</h4>
    <p>{{ order.address }}</p>
  </div>

  <div class="mt-5">
    <a href="{% url 'orders:orders_list' %}" class="btn btn-secondary">Ir a mis órdenes</a>
  </div>

  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
