{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <figure class="col-md-6">
      <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
    </figure>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <p class="text-primary">{{ product.price }} USD</p>
      <p><strong>Categoría:</strong> 
        <a href="{% url 'catalog:category_product_list' category_slug=product.category.slug %}" class="btn btn-light">
          {{ product.category }}
        </a>
      </p>
      <p>{{ product.description }}</p>
      <p>
        <strong>Calidad : </strong>
        {% for i in "12345" %}
          {% if forloop.counter <= product.avg_quality_stars %}
            <i class="bi bi-star-fill text-warning"></i>
          {% else %}
            <i class="bi bi-star text-warning"></i>
          {% endif %}
        {% endfor %}
      </p>
      <p>
        <strong>Sabor : </strong>
        {% for i in "12345" %}
          {% if forloop.counter <= product.avg_taste_stars %}
            <i class="bi bi-star-fill text-warning"></i>
          {% else %}
            <i class="bi bi-star text-warning"></i>
          {% endif %}
        {% endfor %}
      </p>
      <form action="{% url 'cart:add_to_cart' product.id %}" method="post" class="d-flex align-items-center">
        {% csrf_token %}
        <div class="input-group me-2" style="width: 100px;">
          <span class="input-group-text">
            <i class="bi bi-cart"></i>
          </span>
          <input type="number" name="quantity" min="1" value="1" class="form-control text-center" required>
        </div>
        <button class="btn btn-success" type="submit">
          <i class="bi bi-plus"></i> Agregar a carrito
        </button>
      </form>
      <div class="mt-4">
        <h5>Compartir este producto:</h5>
        <div class="d-flex align-items-center gap-2">
          <div>
            <label for="product-url" class="form-label"></label>
            <div class="input-group">
              <button class="copy-button" onclick="navigator.clipboard.writeText('{{ request.build_absolute_uri }}')">
                <span
                  data-text-end="URL copiada!"
                  data-text-initial="Copiar URL"
                  class="tooltip"
                ></span>
                <span>
                  <svg
                    class="clipboard"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="20"
                    height="20"
                    x="0"
                    y="0"
                    viewBox="0 0 6.35 6.35"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        d="M2.43.265c-.3 0-.548.236-.573.53h-.328a.74.74 0 0 0-.735.734v3.822a.74.74 0 0 0 .735.734H4.82a.74.74 0 0 0 .735-.734V1.529a.74.74 0 0 0-.735-.735h-.328a.58.58 0 0 0-.573-.53zm0 .529h1.49c.032 0 .049.017.049.049v.431c0 .032-.017.049-.049.049H2.43c-.032 0-.05-.017-.05-.049V.843c0-.032.018-.05.05-.05zm-.901.53h.328c.026.292.274.528.573.528h1.49a.58.58 0 0 0 .573-.529h.328a.2.2 0 0 1 .206.206v3.822a.2.2 0 0 1-.206.205H1.53a.2.2 0 0 1-.206-.205V1.529a.2.2 0 0 1 .206-.206z"
                        fill="currentColor"
                      ></path>
                    </g>
                  </svg>
                  <svg
                    class="checkmark"
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="18"
                    height="18"
                    x="0"
                    y="0"
                    viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512"
                    xml:space="preserve"
                  >
                    <g>
                      <path
                        d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                        fill="currentColor"
                        data-original="#000000"
                      ></path>
                    </g>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
  {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="container mt-5">
    <h4 class="mb-4">Reseñas ({{ product.review_count }}) </h4>
    <a href="{% url 'catalog:review_form' product.id %}" class="btn btn-primary mb-4">Dejar una reseña</a>
    <ul class="list-unstyled">
      {% for review in reviews %}
      <li class="review-card mb-4 p-3 border rounded">
        <div class="d-flex align-items-start">
          <span class="me-3 rounded-circle" style="width: 50px;">
            {{ review.user.username }}
          </span>
          <div class="review-content">
            <h5 class="mt-0 mb-1"><small class="text-muted">{{ review.date }}</small></h5>
            <p class="fw-bold mb-1">{{ review.title }}</p>
            <p class="mb-1"><strong>Reseña:</strong> {{ review.review }}</p>
            <p class="mb-1">
              <strong>Sabor:</strong> 
              {% for i in "12345" %}
                {% if forloop.counter <= review.taste_stars %}
                  <i class="bi bi-star-fill text-warning"></i>
                {% else %}
                  <i class="bi bi-star text-warning"></i>
                {% endif %}
              {% endfor %}
            </p>
            <p class="mb-1">
              <strong>Calidad:</strong> 
              {% for i in "12345" %}
                {% if forloop.counter <= review.quality_stars %}
                  <i class="bi bi-star-fill text-warning"></i>
                {% else %}
                  <i class="bi bi-star text-warning"></i>
                {% endif %}
              {% endfor %}
            </p>
            <p class="mb-0"><strong>Localidad:</strong> {{ review.location }}</p>
            {% if request.user == review.user %}
              <div class="mt-3">
                <a href="{% url 'catalog:review_update' product.id review.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'catalog:review_delete' product.id review.id %}" class="btn btn-warning btn-sm">Eliminar</a>
              </div>
            {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    <div class="text-center mt-4">
      <div class="d-flex justify-content-between">
        {% if reviews %}
          {% if reviews.has_previous %}
            <a href="?page={{ reviews.previous_page_number }}" class="btn btn-secondary">← Atrás</a>
          {% endif %}

          {% if reviews.has_next %}
            <a href="?page={{ reviews.next_page_number }}" class="btn btn-secondary">Adelante →</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
