{% extends 'base.html' %}

{% block title %}Productos en {{ category.name }}{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">{{ category.name }}</h2>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <figure>
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        </figure>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.category }}</p>
          <p class="card-text text-primary">{{ product.price }} USD</p>
          <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-outline-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
