{% extends 'base.html' %}

{% block title %}
  {% if search_active %}
    Productos para "{{ query }}"
  {% else %}
    Productos en {{ category.name }}
  {% endif %}
{% endblock %}

{% block content %}
<div id="products" class="container my-5">
  <h2 class="mb-4">
    {% if search_active %}
      Resultados de búsqueda para: "{{ query }}"
    {% else %}
      Productos en {{ category.name }}
    {% endif %}
  </h2>
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <figure>
          <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        </figure>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.category }}</p>
          <p class="card-text text-primary">{{ product.price }} USD</p>
          <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-outline-primary">Ver Detalles</a>
        </div>
      </div>
    </div>
    {% empty %}
        <p>No se encontraron productos.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
