{% extends 'base.html' %}

{% block title %}Dejar una Reseña{% endblock %}

{% block content %}
<div class="container my-5">
  <h2>Dejar una Reseña para {{ product.name }}</h2>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_title" class="form-label">Título</label>
      <input type="text" name="title" maxlength="100" class="form-control" id="id_title" value="{{ form.title.value|default:'' }}">
      {% if form.title.errors %}
        <div class="text-danger">
          {{ form.title.errors }}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="id_review" class="form-label">Reseña</label>
      <textarea name="review" maxlength="1000" class="form-control" id="id_review">{{ form.review.value|default:''}}</textarea>
      {% if form.review.errors %}
        <div class="text-danger">
          {{ form.review.errors }}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="id_taste_stars" class="form-label">Estrellas de Sabor</label>
      <input type="number" name="taste_stars" value="{{ form.taste_stars.value|default:"5" }}" class="form-control" id="id_taste_stars">
      {% if form.taste_stars.errors %}
        <div class="text-danger">
          {{ form.taste_stars.errors }}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="id_quality_stars" class="form-label">Estrellas de Calidad</label>
      <input type="number" name="quality_stars" value="{{ form.quality_stars.value|default:"5" }}" class="form-control" id="id_quality_stars">
      {% if form.quality_stars.errors %}
        <div class="text-danger">
          {{ form.quality_stars.errors }}
        </div>
      {% endif %}
    </div>
    <div class="mb-3">
      <label for="id_location" class="form-label">Ubicación</label>
      <select name="location" class="form-control" id="id_location">
        {% for choice in form.location.field.choices %}
            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
      </select>
      {% if form.location.errors %}
        <div class="text-danger">
          {{ form.location.errors }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Enviar Reseña</button>
  </form>

  <div class="mt-4">
    <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-secondary">Volver al producto</a>
  </div>
</div>
{% endblock %}
