<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'pages:index' %}">
      <i class="bi bi-capsule"></i> SHIFA PRODUCTS
    </a>
    <a class="nav-link contact-link" href="{% url 'pages:about_us' %}">Contacto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'pages:index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog:category_list' %}">Productos</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:profile' user.username %}">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success ms-2" href="{% url 'cart:cart' %}">
              <i class="bi bi-basket"></i> Carrito
            </a>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger ms-2">
                <i class="bi bi-box-arrow-right"></i> Cerrar sesión
              </button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-primary ms-2" href="{% url 'login' %}">
              <i class="bi bi-person-walking"></i> Iniciar sesión
            </a>
          </li>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>